<mat-tab-group>
    <mat-tab label="List All Experiments">
        <div class="wrapper">
            <div class="example-header">
                <mat-form-field>
                    <input matInput (keyUp)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Experiment ID</th>
                    <td matcell *matCellDef="let element">{{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="analyst">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Analyst</th>
                    <td matcell *matCellDef="let element">{{element.analyst}}</td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Experiment Start Date</th>
                    <td matcell *matCellDef="let element">{{element.startDate}}</td>
                </ng-container>
                <ng-container matColumnDef="channel">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>channel</th>
                    <td matcell *matCellDef="let element">{{element.channel}}</td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>title</th>
                    <td matcell *matCellDef="let element">{{element.title}}</td>
                </ng-container>
                <ng-container matColumnDef="phase">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>phase</th>
                    <td matcell *matCellDef="let element">{{element.phase}}</td>
                </ng-container>
                <ng-container matColumnDef="team">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>team</th>
                    <td matcell *matCellDef="let element">{{element.team}}</td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Experiment End Date</th>
                    <td matcell *matCellDef="let element">{{element.endDate}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirectPage(row)"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Add New EXperiment">
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" class="sec2">
                <form class="mtop" [formGroup]="managementForm" id="preExpReport">
                    <h2 class="preExpHeading">Pre-Experiment Report</h2>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="expId" placeholder="Experiment ID" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="analystName" type="text" placeholder="Analyst Name" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="title" type="text" placeholder="Title" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="descr" type="text" placeholder="Brief Description" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="startDate" [matDatepicker]="startDatePicker" placeholder="Brief DescriptionEstimated Begin Date of Experiment Execution">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="endDate" [matDatepicker]="endDatePicker" placeholder="Estimated End Date of Experiment Execution">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker">
                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="hypoyhesis" type="text" placeholder="Hypoyhesis" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="team" type="text" placeholder="Team" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="pointOfContract" type="text" placeholder="Point Of Contract" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="experimentChannel" type="text" placeholder="Experiment Channel" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="experimentChannelTopic" type="text" placeholder="Experiment Channel Topic" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="featureTested" type="text" placeholder="Feature Tested" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="noOfVarient" type="text" placeholder="No Of Varient" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="testPopulation" type="text" placeholder="Test Population" value="">
                    </mat-form-field>
                    <mat-form-field class="mat-full-width">
                        <input matInput formControlName="experimentType" type="text" placeholder="Experiment Type" value="">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
                    <button mat-raised-button class="ml-em1" color="primary" (click)="onSave()">Continue to Design</button>
                    <button mat-raised-button class="ml-em1" color="primary" (click)="onSave()">Download Report</button>

                </form>
            </div>
            <div fxFlex="50" class="sec3" fxFlex.xs="15">
                <div class="preExpReport">
                    <div>Experiment Id: {{managementData.expId}}</div>
                    <div>Analyst Name: {{managementData.analystName}}</div>
                    <div>Title: {{managementData.title}}</div>
                    <div>Description: {{managementData.descr}}</div>

                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Update Existing Experiment">
    </mat-tab>

</mat-tab-group>